/* navbar css */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.navbar {
  /* background-color: #FAC769;
 color: white; */
  background-color: transparent;
  backdrop-filter: blur(20px);
  padding: 10px;
  position: fixed;
  top: -300px;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: top 0.5s ease-in-out;
}

.navbar > ul {
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}
.navbar li {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* border: 1px solid black; */
  margin: 1rem 0rem;
}

.navbar li a {
  color: black;
  font-weight: light;
  text-decoration: none;
}
.navbar li a:hover {
  color: black;
}

#checkbox {
  display: none;
}

#checkbox:checked ~ .navbar {
  top: 0px;
}

.hamburger {
  position: fixed;
  top: 10px;
  right: 10px;
  cursor: pointer;
  /* width: 20%; */
  z-index: 99999999;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: flex-end;
  /* border: 2px solid red; */
  width: 4%;
}
.hamburger > span {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;

  background-color: black;
  margin: 0.2rem 0px;
  height: 4px;
  transition: transform 0.75s ease-in-out;
}

#checkbox:checked ~ .hamburger > span:nth-child(1) {
  transform: translateY(12px) rotate(45deg);
}

#checkbox:checked ~ .hamburger > span:nth-child(2) {
  display: none;
}

#checkbox:checked ~ .hamburger > span:nth-child(3) {
  transform: rotate(-45deg);
}

/* ========================= 
mian content
*/
.d-flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.bg-image {
  background-image: url("https://mobirise.com/extensions/commercem4/headphones/assets/images/malte-wingen-381988-1920x1280.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 500px;
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  height: 470px;
  width: 66%;
}

.col-md-12 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.col-md-12 > small {
  font-size: 0.7rem;
  font-weight: lighter;
  margin-left: 4px;
}
.col-md-12 > h1 {
  width: 70%;
  font-weight: 2rem;
  font-size: 1.7rem;
}

.container {
  margin: 3rem;
  display: grid;
  grid-template-areas:
    "card1 card2 card3 card4"
    "card5 card6 card7 card8";
  gap: 5px;
}
.item1 {
  grid-area: card1;
}

.item2 {
  grid-area: card2;
}

.item3 {
  grid-area: card3;
}
.item4 {
  grid-area: card4;
}

.item5 {
  grid-area: card5;
}

.item6 {
  grid-area: card6;
}

.item7 {
  grid-area: card7;
}
.item8 {
  grid-area: card8;
}
.child {
  background-image: url("https://mobirise.com/extensions/commercem4/headphones/assets/images/malte-wingen-381988-1920x1280.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  height: 27vh;
  /* width: 20vw; */
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
.overlay {
  position: absolute;
  /* top: 0px; */
  bottom: 0px;
  width: 100%;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.515);

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.child:hover > .overlay {
  opacity: 1;
  height: 100%;
}
.overlay > div {
  opacity: 0;
  display: none;
}
.child:hover > .overlay > div {
  opacity: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  border-radius: 60%;
  background-color: rgba(0, 0, 0, 0.549);
  color: white;
  height: 20%;
  width: 15%;
  font-size: 3rem;
  padding: 2rem;
}
